.pgbackground {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-background{
    background-image: url('../images/SignInBG.jpg');
  }

  .bbregister-background{
    background-image: url('../images/BloodBankBG.jpg');
  }

  .bbsearch-background{
    
  }