.availability-table {
    width: 98%;
    max-width: 100%;
    margin: 20px;
    border-collapse: collapse;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9); /* Slight white overlay for the table */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .availability-table th,
  .availability-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .availability-table th {
    background-color: #b71c1c;
    color: white;
    text-align: center;
  }
  
  .availability-table tbody tr td {
    text-align: center;
    color: #555;
  }
  